.authNavContainer {
  display: flex;
  gap: 20px;
}

.authNavLink {
  color: #00704a;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  padding: 10px 15px; 
  border-radius: 5px; 
}

.authNavLink:hover {
  color: #00a86b;
  background-color: #f0f5f3; 
}

.authNavLink.active {
  color: #00a86b;
  text-decoration: underline;
}
